.campo {
    margin: 1rem !important;
}

.titulo-form {
    font-family: 'EB Garamond', serif !important ; 
}

.container {
    background-color: #fff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    
}
.botao {
    width: 20%;
    align-self: flex-end;
}

.agenda {
    width: 500px;
}


.img {
    align-self: center;
}

.radio {
    align-self: center;
    display: flex !important;
    flex-direction: row !important;
}